p{
    background-color: hsl(0, 0%, 90%);
    color: black;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.count{
    background-color: white;
    color: black;
    border-radius: 25px;
    width: 21px;
    position: absolute;
    margin-left: 27%;
}
.margin{
    position: absolute;
    margin-left: -144px;
    background-color: black;
    color: white;
    padding: 20px 40px 20px 40px;
    margin-left: -184px;
    margin-top: -36px;
}
.home-detalis{
    background-color: black;
    color: white;
    padding: 20px 40px 20px 40px;
    margin: auto;
    margin-top: 3%;
}
#delete-edit-div{
    margin-top: 6%;
    width:100%;
    display: -webkit-inline-box;
    margin-bottom:6%;
}

.delete-update{
    background-color: #4a4a4a;
    color: #ffffff;
    border-radius: 6px;
    border-color: #4a4a4a;
    padding: 10px;
}

#delete-form, .delete-update{
    margin: auto;
}

.input{
    height: 35px;
    width: 92%;
    margin-bottom: 8%;
    border-style: none;
    padding: 4%;
    border-radius: 5px;
}

.input-area{
    width: 92%;
    margin-bottom: 8%;
    border-style: none;
    padding: 4%;
    border-radius: 5px;  
}

#submit-button-Update{
    float: right;
    background-color: #4a4a4a;
    color: #ffffff;
    border-radius: 6px;
    border-color: #4a4a4a;
    padding: 10px;
    margin-top: 4%;
}
  @media (min-width: 900px) {
    .count{margin-left: 42%;}
  }

#submit-button-Select{
    margin: auto;
    background-color: #4a4a4a;
    color: #ffffff;
    border-radius: 6px;
    border-color: #4a4a4a;
    padding: 10px;
    width: 70%;
    height: 50px;
    margin-top: 20%;
}